.container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    padding: 18% 0;
    border: .2em solid black;
    width: 80%;
    height: 80%;
}

.error-message {
    font-size: small;
    color: rgb(228, 17, 17);
}

.input input {
    margin: 1em 0em 0em .5em;
}